<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <!-- wegl的两个着色器 -->
  <script id="VertexShader" type="x-shader/x-vertex">
    <!-- 定点着色器 -->

      attribute highp vec3 VertexPosition;
      <!-- 属性:定点位置 x,y,z .当前定点在模型上的位置-->
      attribute highp vec2 TextureCoord;
      <!-- 属性:纹理坐标 即赋给这个点的纹理在纹理图像中的位置 -->


      uniform highp mat4 TransformationMatrix;
      <!-- 变量:变换矩阵 -->
      uniform highp mat4 PerspectiveMatrix;
      <!-- 变量:透视矩阵 -->
      <!-- 两者主要是将 3d 模型转换成 2d 图像 -->

      varying highp vec2 vTextureCoord;
      <!-- 变量:一个与片元着色器共享的变量 vTextureCoord -->

      void main(void) {
          gl_Position = PerspectiveMatrix * TransformationMatrix * vec4(VertexPosition, 1.0);
          <!-- 主函数中我们计算 gl_Position(最终的2d图像位置) -->
          vTextureCoord = TextureCoord;
          <!-- 然后将 "当前纹理坐标" 赋值给共享变量 -->
      }
  </script>

    <script id="FragmentShader" type="x-shader/x-fragment">
      <!-- 片元着色器 -->
      <!-- 取出定义在定点着色器中的这个坐标,用这个坐标对纹理进行采样. -->
      <!-- 基本上,通过这个过程,我们得到了我们集合体上的当前点处的纹理的颜色 -->

        varying highp vec2 vTextureCoord;

        uniform sampler2D uSampler;

        void main(void) {
            highp vec4 texelColor = texture2D(uSampler, vec2(vTextureCoord.s, vTextureCoord.t));
            gl_FragColor = texelColor;
        }
    </script>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
