<template>
  <div class="home">
    <img alt="Vue logo" src="../assets/logo.png" />
    <WebGL msg="Welcome to Your Vue.js App" />
  </div>
</template>

<script>
// @ is an alias to /src
import WebGL from "@/components/WebGL.vue";

export default {
  name: "Home",
  components: {
    WebGL
  }
};
</script>
