<template>
  <div class="webgl">
    <canvas id="GLCanvas" width="720" height="480">
      Your Browser Doesn't Support HTML5's Canvas.
    </canvas>
  </div>
</template>

<script>
import WebGL from "../untils/webgl/WebGL";

export default {
  name: "WebGL",
  props: {
    msg: String
  },
  mounted() {
    this.init();
  },
  methods: {
    init() {
      this.GL = new WebGL("GLCanvas", "FragmentShader", "VertexShader");
      let TextureImage = new Image();
      TextureImage.onload = () => {
        this.Texture = this.GL.LoadTexture(TextureImage);
        // this.GL.Draw(Cube, this.Texture);
        setInterval(this.Update, 33);
      };
      TextureImage.src = "Texture.png";
    },
    Update() {
      console.log('df')
      this.GL.GL.clear(16384 | 256);
      this.GL.Draw(this.GL.Cube, this.Texture);
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss"></style>
